* {
  box-sizing: border-box;
}

body, h1 {
  margin: 0;
  font-family: serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1366px;
  width: 100%;
  margin: 0 auto;
  padding: 0 25px;
}

header {
  background-color: black;
  height: 95px;
  color: white;
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.header-logo {
  color: yellow;
  font-size: 40px;
  font-family: 'Parisienne', cursive;
  float: left;
  padding-right: 30px;
}

.menu-icon {
  display: none !important;
}

.header-list li {
  float: left;
  padding-top: 18px;
  padding-left: 55px;
  padding-right: 30px;
}

.header-right {
  float: right;
}

.login {
  color: white;
  background-color: rgba(0, 128, 128, 0.7);
  line-height: 60px;
  display: inline-block;
  padding: 0 40px;
}

.login:hover {
  background-color: rgba(0, 128, 128, 1);
}

.top-wrapper {
  background-image: url(https://cdn.pixabay.com/photo/2017/07/22/11/46/adventure-2528477_960_720.jpg);
  height: 800px;
  background-size: cover;
  text-align: center;
  color: white;
}

.top-wrapper h1 {
  padding-top: 180px;
}

.top-wrapper h2 {
  font-size: 30px;
}

.btn {
  padding: 7px;
  display: inline-block;
  border-radius: 10px;
  color: white;
}

.signup {
  background-color: rgba(35, 155, 118, 0.8);
}

.signup:hover {
  background-color: rgba(35, 155, 118, 1);
}

.google {
  background-color: rgba(66, 133, 244, 0.8);
}

.google:hover {
  background-color: rgba(66, 133, 244, 1);
}

.twitter {
  background-color: rgba(85, 172, 238, 0.8);
}

.twitter:hover {
  background-color: rgba(85, 172, 238, 1);
}

.instagram {
  background-color: rgba(225, 48, 108, 0.8);
}

.instagram:hover {
  background-color: rgba(225, 48, 108, 1);
}

.facebook {
  background-color: rgba(49, 80, 150, 0.8);
}

.facebook:hover {
  background-color: rgba(49, 80, 150, 1);
}

.fab {
  margin-right: 10px;
}

.yamashita {
  text-align: center;
  background-image: url(https://cdn.pixabay.com/photo/2014/11/01/22/33/gold-513062_960_720.jpg);
  background-size: cover;
  height: 1000px;
  color: white;
}

.yamashita h1 {
  font-weight: normal;
  padding-top: 45px;
}

.yamashita p {
  font-size: 20px;
}

.project {
  text-align: center;
  padding: 100px 0;
  background-color: #fdede4;
}

.project h1 {
  color: #c71585;
  margin-bottom: 30px;
  font-size: 40px;
}

.project p {
  font-weight: bold;
  font-size: 25px;
}

.sponsor {
  text-align: center;
  padding: 100px 0;
  border-bottom: 3px solid black;
}

.sponsor h2 {
  font-weight: normal;
}

.application {
  background-color: rgba(199, 21, 133, 0.8);
  padding: 20px 30px;
  box-shadow: 0 10px black;
}

.application:hover {
  background-color: rgba(199, 21, 133, 1);
  cursor: pointer;
}

.application:active {
  box-shadow: none;
  position: relative;
  top: 10px;
}

.contact-form {
  height: 750px;
  text-align: center;
}

.contact-form h3 {
  border-bottom: 3px solid #b8860b;
  font-size: 27px;
  padding-bottom: 15px;
  margin-bottom: 50px;
}

.contact-form span {
  color: red;
}

input, textarea {
  width: 400px;
  font-size: 18px;
  padding: 10px;
  margin-bottom: 30px;
  border: 1px solid #b8860b;
}

textarea {
  height: 200px;
}

.contact-submit {
  background-color: #b8860b;
  color: white;
  width: 100px;
}

footer {
  background-color: #008080;
  height: 155px;
  padding-top: 30px;
}

.footer-logo {
  color: yellow;
  font-size: 40px;
  font-family: 'Parisienne', cursive;
  float: left;
}

.footer-list {
  color: white;
  float: right;
}

.footer-list li {
  padding-bottom: 20px;
}